body{
    margin:0;
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #40514E;
    width:100%;
}

h1{
    color: #66BFBF;
    font-family: 'sacramento','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    font-size: 50px;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: 'sacramento','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px; 
    font-weight: normal;
}

h3{
    color: #66BFBF;
}

a{
    color: #66BFBF;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:white;
    
}

h4{
    color: #66BFBF;
}

.top-container{
    margin-left: auto;
    background-color: #EAF6F6;
    width: 100%;
    height: 650px;
}

.middle-container{
    margin-left: 0;
    margin-right: 0;
    width:100%;
    height: 600%;
}

.contact-me{
    position: relative;
    top:20px;
    width:100%;
    height: 200px;
}
.bottom-container{
    background-color: #EAF6F6;
    margin-top: 20px;
    width:100%;
    height: 100px;
}
.footer-link{
    position: relative;
    top: 30px;
    line-height: 2%;
}
.top{
    position: relative;
    top: 50px;
    left: 300px;
}

.bottom{
    position:relative;
    bottom: 400px;
}

.profile1{
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
}

.profile{
    width:100%;
    height: 400px;
    position: relative;
    top: 100px;
}

.profile2{
    float: left;
    margin-top: 10px;
    margin-left: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
}

.skills{
    margin-top: 70px;
    width:100%;
    height: 400px;
}

.skill-row1{
    
    margin-top: 100px;
    width:100%;
    height: 500px;
}

.profile3{
    
    float: right;
    margin-right: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
}

table{
 border-spacing: 50px;
}

td{
    padding: 10px;
}

hr{
    border: 5px dotted #EAF6F6;
    border-style: dotted none none none;
    width: 10%;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }