body{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    background-image:linear-gradient(to right, #b9e0e0 , #36e3c6);
    width: 50%;
    height: 150px;
    position: absolute;
    top: 180px;
    left: 25%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0, 0, 0.59);
    font-family: 'Trebuchet MS',Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    color: white;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 40%;
}
.about1{
    color: white;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 55%;
}
a{
    text-decoration: none;
    color: white;
}
.sutej{
    position: absolute;
    top: 27%;
    left: 180px;
    font-size: 30px;
}
.img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 26px;
    left: 310px;
}
a:hover{
    color: #EAC7C7;
}
.h{
    font-family: 'Trebuchet MS','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 80px;
    left: 250px;
    font-size: 40px;
}
#myVideo{
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 2s;
    animation-delay: 2s;
}
#btn {
    font-family: 'sacramento',Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
  }
  
  #btn:hover {
    background: #12a1c9;
    color: black;
  }
  .butn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 350px;
    right: 330px;
  }